// Styling for the rating component
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #999;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5f5f5;

  .rating__stars {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;

    .rating__stars--empty {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #999;
    }

    .rating__stars--full {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #f5f5f5;
    }
  }
}
