.loading-bar{
    background: #058C8C;
    height: 3px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: width 1.5s;
    -moz-transition: width 1.5s;
    -o-transition: width 1.5s;
    transition: width 1.5s;
    width: 0%;
    z-index: 1001;
}

/* LOADING ICON */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #e1e1e1;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #e1e1e1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/******* GLOBAL *******/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-weight: 400; line-height: 1.5}
body .container-fluid{padding-left: 0px; padding-right: 0px}
.wrapper > .container-fluid{display: flex}
.content-wrapper{padding-left: 20px; padding-right: 20px; flex-grow: 1;}
body{background-color: #E1E1E1!important;}
.font-color-primary{color: #058C8C}
.normal-font{font-size:13px; font-weight: normal; line-height: 1.5}
.sml-flex{display: flex}
.sml-flex-space-between{display: flex; justify-content: space-between}
.badge{padding: 2px 10px; line-height: 150%; border-radius: 1.25rem}
.font-weight-semi-bold{font-weight: 500}
/******* FORM *******/
.nodejscart-radio input, .nodejscart-checkbox input{display: none}
.nodejscart-radio .fas, .nodejscart-checkbox .fas{font-size: 16px; padding-right: 5px}
.nodejscart-radio label, .nodejscart-checkbox label{cursor: pointer}
.nodejscart-switch .fas{color: #058C8C; font-size: 22px; cursor: pointer}
.nodejscart-switch .fas.fa-toggle-off{color: #E1E1E1}
.field-validation-error{color: #dc3545}

/******* NAVIGATION ********/
.admin-navigation{min-width: 240px; background-color: var(--dark); position: sticky; top: 0; bottom: 0; height: 100vh; box-sizing: border-box}
.admin-navigation .top-bar{display: flex; justify-content: space-between; position: absolute; top: 20px; left: 20px; right: 20px}
.admin-navigation .top-bar .logo{width: 70px}
.admin-navigation .top-bar .logo img{max-width: 100%}
.admin-navigation .menu-toggle{color: #fff}
.admin-nav{height: calc(100vh - 110px); margin-top: 80px}
.admin-nav li span, .admin-navigation li a{color: #E1E1E1; line-height: 40px;}
.admin-nav .root-label{text-transform: uppercase; font-weight: bold; font-size: 11px; color: #8f8f8f}
.admin-nav .fas{padding-right: 10px; font-size: 15px}
.admin-nav .simplebar-scrollbar:before{background-color: #058C8C}
.nav-item > a, .nav-item .root-label{display: block; padding-left: 20px}
.nav-item > a:hover{background-color: #E1E1E1; color: #181818}

/******* HEADER *********/
.header{margin: 0 -20px; padding: 19px 20px 3px 20px; background-color: #fff; position: sticky; top: 0; z-index: 1000}
.admin-user-greeting{display: flex; justify-content: space-between}
.admin-user-greeting .user-name{color: #058C8C}
.admin-user-greeting .time{font-size: 9px}
.admin-user-greeting .logout span{padding-right: 7px}

/********* CONTENT *********/
.page-title{padding: 13px 0}
.content{min-height: calc(100vh - 100px); padding-bottom: 20px}

/********** BLOCK **********/
.sml-block{background-color: #fff; padding: 20px; border-radius: 5px}
.sml-block-title{font-size: 18px; margin-bottom: 20px; font-weight: 500}
/********** FOOTER **********/
.footer{display: flex; justify-content: space-between; margin: 0 -20px; padding: 20px 20px 20px 20px; background-color: #fff;}

/******** GRID *********/
.filter{margin-top: 5px; display: table; width: -webkit-fill-available}
table img{max-width: 50px}
.table th.action-column{vertical-align: middle !important;}
.range input{max-width: 60px}
.filter div + div{margin-top: 5px}
.table.sticky thead th {vertical-align: top; position: sticky; top: 60px; background-color: #fff}
.table.sticky thead th:after{content: ''; height: 2px; background-color: #E1E1E1; position: absolute; bottom: -2px; left: 0; width: 100%}
.table.sticky thead th:before{content: ''; height: 1px; background-color: #E1E1E1; position: absolute; top: -1px; left: 0; width: 100%}
table .form-group{margin-bottom: 0px}
.grid-pagination-container{margin-top: 10px}
.grid-pagination .fas{font-size: 16px}
.grid-pagination input{max-width: 45px; text-align: center}
.grid-pagination td{vertical-align: middle; padding: 0px 8px}
.grid-pagination-container .per-page, .grid-pagination-container .limit{padding-left: 0px}

/******** PRODUCT EDIT *********/
.product-upload-images{margin-top: 20px}
.product-upload-images img{max-width: 100px}
.product-image-upload{border: 1px dotted #e1e1e1; padding-top: 20px}
.form-head{padding: 10px 20px; border-radius: 5px; display: flex; justify-content: space-between; margin-bottom: 10px; background-color: #fff; position: sticky; top: 60px; z-index: 100}
.form-head .buttons button{margin-left: 10px}
.child-align-middle:after{content: '';display: inline-block; height: 100%; vertical-align: middle; width: 0; }
.form-head a{vertical-align: middle; display: inline-block;}
.variants-block tr.duplicated select{border-color: var(--danger)}
.autocomplete-search{position: relative}
.autocomplete-search .search-clear{position: absolute; top: 6px; right: 10px}
.autocomplete-search .search-result{margin-top: 1px; height: 300px; overflow-y: scroll}

/********* DASHBOARD *********/
.sale-statistic-header a{color: #fff}
.sale-statistic-header a:hover{color: #fff}
.lifetime-sale{padding: 5px 20px;  color: #fff}
.lifetime-sale .title{font-weight: bold; display: inline-block}
.lifetime-sale table{margin-bottom: 0}
.lifetime-sale table tr:first-child td{border-top: 0}
.lifetime-sale table td:first-child{text-align: right}
.lifetime-sale table td{vertical-align: middle; padding: 20px}

/* NOTIFICATION */
.notification{position: fixed; top: 30px; z-index: 1001; left: 0; width: 100%; display: flex; flex-flow: column; justify-content: center}
.notification .alert{width: 450px; margin: 10px auto}

/************ ADMIN LOGIN ************/
.admin-login-form-container{min-height: calc(100vh - 150px)}
.admin-login-inner{margin: 100px auto; width: 300px; background-color: var(--dark); color: #fff}
.admin-login h3.page-title{display: none}
.login-logo img{max-width: 70px}
.admin-login-form .nodejscart-form-button{display: flex; flex-direction: row-reverse}

/************ WIDGET EDIT ************/
.widget-edit-layouts{height: 300px; overflow-y: auto}

/* FILE BROWSER */
.file-browser{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #fff; z-index: 1000; padding: 20px}
.file-browser .loading{position: absolute; top: 50%; left: 50%; margin-top: -40px; margin-left: -40px}
.file-browser img{max-width: 100%}
.file-browser .image-item .inner{padding: 3px; box-sizing: border-box; border: 1px solid #E1E1E1; position: relative}
.file-browser .image-item .inner .select{position: absolute; bottom: 0; right: 0; font-size: 20px}
.row-cols-9 > * {
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
}

.area-widget-templates .item{margin-top: 20px; cursor: pointer}

.area-widget-templates .item .unit{height: 20px}
.area-widget-templates .item .unit1{background-color: #ff9a76}
.area-widget-templates .item .unit2{background-color: #ffeadb}
.area-widget-templates .item .unit3{background-color: #f7c5a8}
.area-widget-templates .item .unit4{background-color: #679b9b}
.area-widget-templates .item.selected{outline: 3px solid #0b0b0b}
.area-columns-setting .item-inner{border: 1px solid #e1e1e1; padding: 10px; min-height: 145px}

/* Product image management */
.product-image-manager img{max-width: 100%;}
.product-image-manager .image-list {grid-template-columns: repeat(4,1fr);display: grid; grid-gap: 8px;grid-auto-rows: 1fr}
.product-image-manager .image-list .image{position: relative; padding:5px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; border: 1px solid #e1e1e1; background: #fff; max-width: 150px;}
.product-image-manager .image-list .uploader{position: relative; padding:5px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; border: 2px dashed #e1e1e1; background: #fff; max-width: 150px;}
.product-image-manager .image-list .grid-item:first-child{grid-column: 1/span 2; max-width: 310px;}
.product-image-manager .image-list .grid-item:first-child:after {content: "";display: block;padding-bottom: 100%;}
.product-image-manager .image-list .image:first-child{grid-row: 1/span 2}
.product-image-manager .image-list .image:first-child img{max-width: 100%}
.product-image-manager .image-list{outline: 0;}
.product-image-manager .image-list .image .img{width: 100%; display: flex; justify-content: center; align-items: center;}
.product-image-manager .image-list .image .remove,.product-image-manager .image-list .image .zoom {position: absolute; top: 10px;}
.product-image-manager .image-list .image .remove{left: 10px}
.product-image-manager .image-list .image .zoom{right: 10px}
.uploader .invisible{position: absolute; top: 0; left: 0;}
.uploader .uploader-icon label{cursor: pointer; font-size:20px; color:#058C8C}

.variant-list .variant-item{padding: 20px 0; border-bottom: 1px solid #e1e1e1;}
.variant-list .variant-item:first-child{padding-top: 0px;}