.products-pagination {
  margin-top: 3.125rem;
  .page-item {
    width: 1.375rem;
    height: 1.375rem;
    border: 1px solid var(--primary);
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    &.current {
      border-color: var(--success);
      color: var(--success);
    }
    svg {
      width: 0.938rem;
      height: 0.938rem;
      color: var(--primary);
    }
  }
}
