node_modules
.env
dist
!packages/create-evershop-app/sample/extensions/sample/dist
!packages/create-evershop-app/sample/themes/sample/dist
/extensions/*
!extensions/agegate
!extensions/azure_file_storage
!extensions/google_login
!extensions/s3_file_storage
!extensions/resend
!extensions/sendgrid
!extensions/product_review
/themes
.idea/*
.evershop
.vscode
npm-debug.log
/package-log.json
/media
/public
.DS_Store
.log
coverage
cypress
.turbo
/config
/packages/evershop/config
.prettierignore
.prettierrc
mysqlToPostgres.js