node_modules
./dist
/extensions/*
!/extensions/productComment
themes
.idea/*
.evershop
.vscode
npm-debug.log
/package-log.json
/media
/public
.DS_Store
.log
coverage
cypress
/config
.prettierignore
.prettierrc
