.checkout-steps {
  form {
    .form-submit-button {
      padding-top: 0px;
      border-top: 0;
      display: flex;
      justify-content: end;
      button.button {
        padding: 2rem;
        font-weight: 400;
      }
    }
    label {
      color: var(--textSubdued);
    }
  }
  .place-order-button {
    button {
      padding: 2rem;
      font-weight: 400;
    }
  }
}
.wrapper {
  .header {
    margin-bottom: 0;
  }
  .footer {
    margin-top: 0;
  }
}
.checkout-steps {
  padding-bottom: 2rem;
}
.separator {
  padding: 0 5px;
}
.checkout-breadcrumb {
  font-size: 12px;
}

.breadcrumb {
  display: none;
}