.product-filter-tool {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
    margin-bottom: 1.5rem;
    .filter-item-title {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--divider);
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    .field-border {
        border: none !important;
    }
}
.filter-option {
    border: 1px solid var(--divider);
    display: block;
    padding: 0.5rem 0.85rem;
    &.checked {
        border: 2px solid var(--text);
    }
}

.filter-heading {
    svg {
        align-self: center;
        width: 1rem;
        height: 1rem;
    }
}
.close-filter {
    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}
.product-sorting {
    svg {
        width: 1rem;
        height: 1rem;
    }
}
input[type="range"] {
    width: 100%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003d7c;
}
input[type="range"]:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003d7c;
    border-radius: 25px;
    z-index: 1;
}
input[type="range"]:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}
.rangeslider {
    position: relative;
    height: 60px;
    width: 100%;
    display: inline-block;
}
.rangeslider input {
    position: absolute;
}
.rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0;
}
.rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
}
