:root {
    --primary: #3a3a3a;
    --secondary: #111213;
    --surface: #111213;
    --onSurface: #111213;
    --interactive: #2c6ecb;
    --critical: #d72c0d;
    --warning: #ffc453;
    --highlight: #5bcdda;
    --success: #008060;
    --decorative: #ffc96b;
    --border: #8c9196;
    --background: #f6f6f7fc;
    --icon: #5c5f62;
    --textSubdued: #6d7175;
    --divider: #e1e3e5;
    --text: #202223;
    --formFieldBorder: #c9cccf;
    --formFieldBorderShadow: #aeb4b9;
}
@import "./tailwind.scss";

$font-size-sm: 0.8rem;
$font-size-md: 0.9rem;
$font-size-lg: 1.15rem;

$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 2;

$font-size-base: $font-size-sm;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

body {
    color: #3a3a3a;
}
@media screen and (max-width: 767px) {
    $font-size-base: $font-size-sm;
    body {
        font-size: $font-size-base;
        line-height: $line-height-sm;
        .h1,
        h1 {
            font-size: $h1-font-size;
        }
        .h2,
        h2 {
            font-size: $h2-font-size;
        }
        .h3,
        h3 {
            font-size: $h3-font-size;
        }
        .h4,
        h4 {
            font-size: $h4-font-size;
        }
        .h5,
        h5 {
            font-size: $h5-font-size;
        }
        .h6,
        h6 {
            font-size: $h6-font-size;
        }
    }
}

@media (min-width: 768px) and (max-width: 1535px) {
    $font-size-base: $font-size-md;
    $h1-font-size: $font-size-base * 2.5;
    $h2-font-size: $font-size-base * 2;
    $h3-font-size: $font-size-base * 1.75;
    $h4-font-size: $font-size-base * 1.5;
    $h5-font-size: $font-size-base * 1.25;
    $h6-font-size: $font-size-base;

    body {
        font-size: $font-size-base;
        line-height: $line-height-md;
        .h1,
        h1 {
            font-size: $h1-font-size;
        }
        .h2,
        h2 {
            font-size: $h2-font-size;
        }
        .h3,
        h3 {
            font-size: $h3-font-size;
        }
        .h4,
        h4 {
            font-size: $h4-font-size;
        }
        .h5,
        h5 {
            font-size: $h5-font-size;
        }
        .h6,
        h6 {
            font-size: $h6-font-size;
        }
    }
}

@media (min-width: 1536px) {
    $font-size-base: $font-size-lg;
    $h1-font-size: $font-size-base * 2.5;
    $h2-font-size: $font-size-base * 2;
    $h3-font-size: $font-size-base * 1.75;
    $h4-font-size: $font-size-base * 1.5;
    $h5-font-size: $font-size-base * 1.25;
    $h6-font-size: $font-size-base;

    body {
        font-size: $font-size-base;
        line-height: $line-height-lg;
        .h1,
        h1 {
            font-size: $h1-font-size;
        }
        .h2,
        h2 {
            font-size: $h2-font-size;
        }
        .h3,
        h3 {
            font-size: $h3-font-size;
        }
        .h4,
        h4 {
            font-size: $h4-font-size;
        }
        .h5,
        h5 {
            font-size: $h5-font-size;
        }
        .h6,
        h6 {
            font-size: $h6-font-size;
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
.wrapper .content {
    min-height: calc(100vh - 50px);
}
.header {
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 3rem;
}

.container {
    margin: 0 auto;
}
.page-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 22px;
    @media screen and(min-width: 1200px) {
        padding: 0 55px;
    }
}

.footer {
    background-color: #f6f6f6;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-block-end: 1rem;
    border-top: 1px solid #ddd;
    .card-icons {
        svg {
            height: 2rem;
        }
    }
    .copyright {
        font-size: 13px;
    }
}
