.stripe-form {
  .stripe-form-heading {
    border-bottom: 1px solid var(--divider);
    padding-bottom: 0.938rem;
    margin-bottom: 0.938rem;
    columns: #333333;
    font-size: 16px;
    .button {
      font-size: 0.75rem;
      padding: 0.313rem 0.531rem;
    }
    svg {
      max-height: 1.563rem;
      min-height: 1.563rem;
    }
  }
  .stripe-form-body {
    background-color: #fafafa;
    padding: 0.938rem;
  }
}
.cls-1 {
  fill: #635bff;
}
