.product-thumbnail-listing {
    background-color: #f6f6f6;
    color: #3131;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
