#shopping-cart-items {
  .items-table {
    width: 100%;
    thead {
      text-transform: uppercase;
      td {
        border-top: 0;
        &:first-child {
          width: 60%;
          text-align: left;
          padding-left: 0;
        }
        &:nth-child(2) {
          @media screen and (max-width: 767px) {
            text-align: right;
            padding-right: 0;
          }
        }
      }
    }
    td {
      &:last-child {
        text-align: right;
        padding-right: 0;
      }
      &:first-child {
        text-align: left;
        padding-left: 0;
      }
      &:nth-child(2) {
        @media screen and (max-width: 767px) {
          text-align: right;
          padding-right: 0;
        }
      }
    }
    .product-info {
      .product-image {
        background: rgb(246, 246, 246);
        min-height: 100px;
        min-width: 100px;
      }
      @media screen and (max-width: 767px) {
        img {
          max-width: 5rem;
        }
      }
    }
  }
  .qty-box {
    max-width: 130px;
    button {
      .spinner {
        animation: rotator 1.4s linear infinite;
        .path {
          stroke-dasharray: 280;
          stroke-dashoffset: 0;
          transform-origin: center;
          stroke: var(--primary);
          animation: dash 1.4s ease-in-out infinite;
        }
      }
      svg {
        width: 1.1rem;
        height: 1.1rem;
      }
    }
    input {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 70;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}
