.mini-cart-icon {
  position: relative;
  display: block;
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  span {
    display: block;
    background-color: #3a3a3a;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 12px;
  }
}
