.checkout__summary {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  border-left: 1px solid var(--divider);
  position: relative;
  padding-left: 1.25rem;
  min-height: calc(100vh - 50px);
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 400%;
    bottom: 0;
    background-color: #fafafa;
    z-index: -1;
  }
}
body {
  overflow-x: hidden;
}

.summary__row {
  display: grid;
  margin-bottom: 0.625rem;
  grid-gap: 0.625rem;
  grid-template-columns: 8.75rem auto;
  > div {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: 1fr auto;
  }
  &.grand-total {
    border-top: 1px solid var(--divider);
    margin-top: 0.625rem;
    padding-top: 0.625rem;
    .grand-total-value {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
.summary-wrapper {
  display: grid;
  grid-row-gap: 0.625rem;
}
.checkout-summary-block {
  border-top: 1px solid var(--divider);
  padding-top: 0.625rem;
}
