.register-form {
  width: 468px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 4rem;
  -webkit-box-shadow: 6px 12px 60px rgb(0 0 0 / 20%);
  box-shadow: 6px 12px 60px rgb(0 0 0 / 20%);

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }

  .form-submit-button {
    button {
      width: 100%;
      padding: 1.2rem 1.6rem;
    }
  }

  .form-field-container {
    label {
      color: #666;
    }
  }

  input[type='text'],
  input[type='password'] {
    padding: 0.8rem 1.2rem;
  }
  .register-form-inner {
    width: 100%;
  }
}
