:root {
  --primary: #008060;
  --secondary: #111213;
  --surface: #111213;
  --onSurface: #111213;
  --interactive: #2c6ecb;
  --critical: #d72c0d;
  --warning: #ffc453;
  --highlight: #5bcdda;
  --success: #008060;
  --decorative: #ffc96b;
  --border: #8c9196;
  --background: #f6f6f7fc;
  --icon: #5c5f62;
  --textSubdued: #6d7175;
  --divider: #e1e3e5;
  --text: #202223;
  --formFieldBorder: #c9cccf;
  --formFieldBorderShadow: #aeb4b9;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  color: #202223;
}
table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid var(--divider);
    padding: 0.5rem;
    text-align: left;
  }
  th {
    vertical-align: top;
  }
  &.listing {
    td,
    th {
      border-left: 0;
      border-right: 0;
      padding: 1rem;
    }
    th {
      border: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      align-content: center;
    }
  }
}
#app {
  background-color: rgba(246, 246, 247, 0.9882352941);
}
.header {
  height: 5.6rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.content-wrapper {
  margin-top: 5.6rem;
  min-height: 100vh;
  .main-content {
    overflow: hidden;
    margin-left: 24rem;
    .main-content-inner {
      padding: 2rem 3rem;
      min-height: 100vh;
    }
  }
}
.footer {
  padding-left: 3rem;
  margin-top: 2rem;
  color: var(--border);
  padding-bottom: 1rem;
  border-top: 1px solid var(--divider);
  padding-top: 1rem;
}
