.bestsellers {
    td,
    th {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            text-align: right;
        }
    }
    tr {
        &:first-child {
            td {
                border-top: 0;
            }
        }
    }
}
