.category-tree {
  ul {
    margin-left: 20px;
  }
}
.category-tree-container {
  background-color: #fff;
  z-index: 100;
  border-color: #c9cccf;
  padding: 10px;
  box-sizing: border-box;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
