.next a,
.first a,
.last a,
.prev a {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--border);
  display: flex;
  border: 1px solid var(--divider);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  svg {
    width: 55%;
  }
}
.pagination input {
  text-align: center;
}
.current .field-suffix {
  display: none;
  padding: 0;
}
.current select {
  text-align: center;
}
