.variant-option-list {
  li {
    border: 1px solid var(--divider);
    border-radius: 2px;
    background-color: #fff;
    font-size: 12px;
    a,
    span {
      padding: 1rem 1.5rem;
      display: block;
      text-align: center;
    }
    &.selected {
      background-color: var(--success);
      border-color: var(--success);
      color: #fff;
    }
    &.un-available {
      background-color: var(--border);
      color: #fff;
    }
  }
}
