.logo {
    display: flex;
    a {
        align-self: center;
        color: var(--primary);
        display: block;
        width: 3rem;
        height: 3rem;
        padding: 3px;
        border-radius: 100%;
        border: 2px solid var(--primary);
        svg {
            width: 100%;
        }
    }
    span {
        align-self: center;
        padding-left: 1rem;
        font-weight: 600;
    }
}
