.product-filter-tool {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    .filter-item-title {
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--divider);
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    .field-border {
        border: none !important;
    }
    .filter-heading {
        margin-bottom: 20px
    }
}
.filter-option {
    padding: 0rem 0.8rem;
    border-radius: 2px;
}

.filter-heading {
    svg {
        align-self: center;
        width: 2rem;
        height: 2rem;
    }
}
.close-filter {
    svg {
        width: 2rem;
        height: 2rem;
    }
}
.product-sorting {
    svg {
        width: 2rem;
        height: 2rem;
    }
}
input[type="range"] {
    width: 100%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003d7c;
}
input[type="range"]:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003d7c;
    border-radius: 25px;
    z-index: 1;
}
input[type="range"]:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}
.rangeslider {
    position: relative;
    height: 60px;
    width: 100%;
    display: inline-block;
}
.rangeslider input {
    position: absolute;
}
.rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0;
}
.rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
}

.filter-opener, .filter-closer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
}

.filter-opener, .filter-closer {
    z-index: 998;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 639px) {
    .product-filter-tool.opening {
        display: block;
        position: fixed;
        // Make full screen
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
    }

        .filter-opener,
        .filter-closer {
            display: flex;
        }
}