body .codex-editor {
  z-index: 99;
}

#rows {
  .row {
    background-color: #fff;
  }
}

#rows > * {
  margin-top: 10px;
}

.item {
  padding: 10px;
  background: var(--divider);
  border: 2px solid var(--border);
}

#rows .draggable-source--is-dragging {
  background: var(--divider);
  color: var(--divider);
}

#rows .draggable-source--is-dragging > * {
  visibility: hidden;
}

.ce-rawtool__textarea {
  z-index: 0;
}
