.variant-search-result {
  position: relative;
  margin-top: 1rem;
  padding-top: 1rem;
  .search-result {
    max-height: 20rem;
    overflow-y: auto;
  }
  .variant-search-loading {
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
  }
  tr.selected {
    background-color: var(--primary);
    color: white;
    a {
      color: white;
    }
  }
}

.skeleton-wrapper-variants {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  .skeleton:empty {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    cursor: progress;
    background: linear-gradient(0.25turn, transparent, #fff, transparent),
      linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
  }

  @keyframes loading {
    to {
      background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
  }
}
