.variant-search-result {
  position: relative;
  margin-top: 1rem;
  padding-top: 1rem;
  .search-result {
    max-height: 20rem;
    overflow-y: auto;
  }
  .variant-search-loading {
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
  }
  tr.selected {
    background-color: var(--primary);
    color: white;
    a {
      color: white;
    }
  }
}
