.summary-row {
  display: grid;
  grid-gap: 0.531rem;
  grid-template-columns: 8.75rem auto;
  > div {
    display: grid;
    grid-gap: 0.531rem;
    grid-template-columns: 1fr auto;
  }
}
.summary-wrapper {
  display: grid;
  grid-row-gap: 0.531rem;
}
