.skeleton-wrapper-lifetime {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .skeleton-chart:empty {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: progress;
    background: linear-gradient(0.25turn, transparent, #fff, transparent),
      linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
  }
  .skeleton:empty {
    width: 100%;
    height: 15px;
    margin-top: 5px;
    cursor: progress;
    background: linear-gradient(0.25turn, transparent, #fff, transparent),
      linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
  }
  @keyframes loading {
    to {
      background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
  }
}
