.summary-row {
  display: grid;
  grid-gap: 0.85rem;
  grid-template-columns: 14rem auto;
  > div {
    display: grid;
    grid-gap: 0.85rem;
    grid-template-columns: 1fr auto;
  }
}
.summary-wrapper {
  display: grid;
  grid-row-gap: 0.85rem;
}
