@import "./tailwind.scss";
@import "../../../../lib/components/form/color.scss";
body {
    font-size: 0.875rem;
    background-color: $background;
}
a {
    color: $interactive;
    &:hover {
        text-decoration: underline;
    }
}

.p025 {
    padding: 0.25rem;
}
.p05 {
    padding: 0.5rem;
}
.p075 {
    padding: 0.75rem;
}
.p1 {
    padding: 1rem;
}

.pl025 {
    padding-left: 0.25rem;
}
.pl05 {
    padding-left: 0.5rem;
}
.pl075 {
    padding-left: 0.75rem;
}
.pl1 {
    padding-left: 1rem;
}

.pr025 {
    padding-right: 0.25rem;
}
.pr05 {
    padding-right: 0.5rem;
}
.pr075 {
    padding-right: 0.75rem;
}
.pr1 {
    padding-right: 1rem;
}

.pt025 {
    padding-top: 0.25rem;
}
.pt05 {
    padding-top: 0.5rem;
}
.pt075 {
    padding-top: 0.75rem;
}
.pt1 {
    padding-top: 1rem;
}

.pb025 {
    padding-bottom: 0.25rem;
}
.pb05 {
    padding-bottom: 0.5rem;
}
.pb075 {
    padding-bottom: 0.75rem;
}
.pb1 {
    padding-bottom: 1rem;
}

.m025 {
    padding: 0.25rem;
}
.m05 {
    padding: 0.5rem;
}
.m075 {
    padding: 0.75rem;
}
.m1 {
    padding: 1rem;
}

.ml025 {
    padding-left: 0.25rem;
}
.ml05 {
    padding-left: 0.5rem;
}
.ml075 {
    padding-left: 0.75rem;
}
.ml1 {
    padding-left: 1rem;
}

.mr025 {
    padding-right: 0.25rem;
}
.mr05 {
    padding-right: 0.5rem;
}
.mr075 {
    padding-right: 0.75rem;
}
.mr1 {
    padding-right: 1rem;
}

.mt025 {
    padding-top: 0.25rem;
}
.mt05 {
    padding-top: 0.5rem;
}
.mt075 {
    padding-top: 0.75rem;
}
.mt1 {
    padding-top: 1rem;
}

.mb025 {
    padding-bottom: 0.25rem;
}
.mb05 {
    padding-bottom: 0.5rem;
}
.mb075 {
    padding-bottom: 0.75rem;
}
.mb1 {
    padding-bottom: 1rem;
}

.text-critical {
    color: $critical;
}
.bg-critical {
    background-color: $critical;
}
.border-critical {
    border-color: $critical;
}

.text-primary {
    color: $primary;
}
.bg-primary {
    background-color: $primary;
}
.border-primary {
    border-color: $primary;
}

.text-interactive {
    color: $interactive;
}
.bg-interactive {
    background-color: $interactive;
}
.border-interactive {
    border-color: $interactive;
}
.header {
    height: 3.5rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
    z-index: 100;
}
.content-wrapper {
    margin-top: 3.5rem;
    .admin-navigation {
        width: 200px;
        float: left;
        height: 100vh;
        border-right: 1px solid $dividerColor;
    }
    .main-content {
        overflow: hidden;
        padding: 2rem;
    }
}
