@import "./tailwind.scss";

.header {
    height: 3.5rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
    z-index: 100;
}
.content-wrapper {
    margin-top: 3.5rem;
    .main-content {
        overflow: hidden;
        padding: 2rem;
    }
}
